<html>
<head>
  <title>{{ ctx.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keywords"
        content="мото путешествия, мото путешествия Украина, мото турист, мото туризм путешествия, путешествия на мото, мото любители">
  <meta name="description" content="Мото путешествия по Украине и интересные мото истории из жизни. Личный блог мото туристов it-райдеров.  ✔Жми ✔ Подключайся ✔ Вступай ➜ Мото клуб【Lambda RC】от IT riders club - Львов, Украина.">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="main-logo">
          <img src="{{ url_for('static', path='/images/lambda-RC.png') }}" alt="">
        </div>
        <div class="social-icons">
          <a href="https://www.instagram.com/p/B9rj45VgeMI/" target="_blank">
            <img src="{{ url_for('static', path='/images/instagram.png') }}" alt="">
            @lambda.rc
          </a>
          <a href="https://t.me/lambdarc" target="_blank">
            <img src="{{ url_for('static', path='/images/telegram.png') }}" alt="">
            @lambdarc
          </a>
          <a href="https://www.youtube.com/channel/UCHRzzurLJq72gOcd8Bx-gKQ" target="_blank">
            <img src="{{ url_for('static', path='/images/youtube.png') }}" alt="">
            LambdaRC
          </a>
        </div>
        <div class="col-md-4 main-text offset-md-4">
          <h1>Что такое IT riders club - Lambda RC</h1>
          <p>Это сообщество по интересам - мотоциклы, IT, мото путешествия по Украине и за границей, просто приятное
            общение.</p>
          <h2>Зачем нужно Lambda RC</h2>
          <p>Да хули делать :)</p>
          <h2>Какие цели преследуются в Lambda RC</h2>
          <p>Наша главная цель - наслаждаться жизнью и не мешать другим, ни окружающим людям, ни участникам сообщества.</p>
          <h2>Участники мото клуба Lambda RC</h2>
          <ul>
            <li>Этанол ответственности - Стас</li>
            <li>Да хули - Виталий</li>
            <li>Ровный - Ровный</li>
            <li>Бачек потек - Ярик</li>
            <li>Мастер Шеф - Паша</li>
          </ul>
          <h2>Где любим путешествовать как мото туристы</h2>
          <p>Нередко мы ездим собственной группой по разным достопримечательностям Украины, и каждый по своей
          возможности выезжает в длительные путешествия на мото далеко за ее пределы. Участники клуба успели побывать на мотоциклах:</p>
          <ul>
            <li>Чехия и Словакия</li>
            <li>Венгрия (Ниредьгаза, Будапешт)</li>
            <li>Польша (Вроцлав, Прага)</li>
            <li>Австрия (Вена, Гальштат)</li>
            <li>Германия (Баутцен)</li>
            <li>Остров Самуи, Пхукет, Бали и так далее</li>
          </ul>
          <p>Есть еще много прекрасных мест в Украине и за ее пределами, где планируется побывать. Это ближнее
          зарубежье, а также Франция, Греция, Италия, этот список можно продолжать до бесконечности. Чтобы только погода не подводила, и дорога была ровной.</p>
          <p>Вопросы, предложения, пожелания можно писать на <a href="mailto:lambda.riders.club@gmail.com">lambda.riders.club@gmail.com</a></p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
