h1 {
    font-size: 2rem;
    margin-top: 20px;
}
h2 {
    font-size: 1.5rem;
}
.main-logo {
    text-align: center;
}

.main-logo > img {
    width: 100%;
    max-width: 600px;
}

.social-icons {
    text-align: center;
}

.social-icons > a:hover {
    text-decoration: none;
    opacity: 0.5;
}

.social-icons > a > img {
    width: 60px;
    padding: 7px;
}
